.booking {
    height: 80vh;
    background-image: url("../../../assets/nieve.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.booking-container {
    width: 80%;
}

.booking-title {
    font-size: 1.2rem;
}

.booking-card {
    background-color: rgba(12, 1, 1, 0.7);
    color: rgb(203 213 225);
    width: 100%;

    padding: 4%
}

.booking-button {
    background-color: rgb(203 213 225);
    color: black;
    padding: 0.25rem;
}

.booking-button:hover {
    background-color: rgb(5, 145, 215);
    color: white;

}

/* maxwidth 399 px max-height 500px */
@media (max-width: 24.9375rem) and (max-height: 32rem) {
    .booking {
        height: 100%;
    }
}


/*min width 400px min height 128px*/
@media(min-width: 25rem) and (min-height: 8rem) {
    .booking-card {
        height: 90%;
    }
    .booking{
        height: 100%;
    }
}
/*min width 400px min height 608 px*/
@media(min-width: 25rem)  and (min-height: 38rem){
      .booking{
        height: 80vh;
      }
      .booking-card{
        height: 60%;
      }
}
/*min width 480  min height 128px  */
@media(min-width: 30rem) and (min-height: 8rem) {
    .booking {
        height: 100%;
    }

    .booking-card {
        height: 100%;
    }
}

/* nin width 480    min height 640px*/

@media(min-width: 30rem) and (min-height: 40rem) {
    .booking {
        height: 70vh;
    }

    .booking-card {
        padding: 25%;
        height: 100%;
    }

    .booking-container {
        width: 60%;
    }
}


/*min width 640px min height 112px*/
@media(min-width:40rem) and (min-height: 7rem) {
    .booking {
        height: 100%;
    }

    .booking-card {
        height: 100%;
    }

}

/*min width 640px min height 400px*/
@media(min-width: 40rem) and (min-height: 25rem) {
    .booking {
        height: 90vh;
    }

    .booking-card {
        height: 50%;
    }
}

/* min width  800    min height 976*/
@media(min-width: 50rem) and (min-height: 61rem){
    .booking-card{
        height: 40%;
    }
}

@media(min-width: 64rem) and (min-height: 81rem){
    .booking-card{
        height: 35%;
    }
}