.error-component{
    height: 90vh;;
}
.button-error{
    width: 12%;
    padding: 12% 20%;
    border: white;
    border: 1px solid rgb(5, 145, 215);
    border-radius: 10%;
     background-color: transparent;
}

.button-error:hover{
 background-color: rgb(5, 145, 215);
 border: 1px solid white;
}


/*min width 400px */
@media(min-width: 25rem){
    .button-error{
        padding: 10% 18%;
    }
}
/*min width 540px*/
@media(min-width: 33.75rem){
    .button-error{
        padding: 5% 10%
    };
}

/*min width 1024px*/
@media(min-width: 64rem){
    .button-error{
        padding: 2% 4%
    };
}
